[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
cif2ice = "*"

[dev-packages]
jupyter = "*"
pairlist = {path = "./../PairList"}
networkx = "*"
plotly = "*"
yaplotlib = "*"
genice2 = "*"
scikit-learn = "*"
pandas = "*"
seaborn = "*"
mdanalysis = "*"
gemmi = "*"

[requires]
python_version = "3.11"
